<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="752caab2-4fe1-4100-8071-dbbc8d8b58e2" Version="2.0.0.0" Publisher="CN=Microsoft" />
  <Properties>
    <DisplayName>ms-resource:displayName</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="ms-resource:displayName" Description="ms-resource:description" BackgroundColor="#00b2f0" ForegroundText="light" Square150x150Logo="images\logo.png" Square30x30Logo="images\smalllogo.png">
        <m2:DefaultTile ShortName="ms-resource:shortName" Wide310x150Logo="images\widelogo.png" Square310x310Logo="images\square310logo.png" Square70x70Logo="images\square70logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen BackgroundColor="#00b2f0" Image="images\splashscreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>