<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="de43bd33-b20e-411e-a5f3-fd7d6e6dbf64" Version="1.0.0.0" Publisher="CN=kbridge" />
  <Properties>
    <DisplayName>ms-resource:displayName</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="ms-resource:displayName" Description="ms-resource:description" ForegroundText="light" BackgroundColor="#00b2f0" Square150x150Logo="images\Logo.png" Square30x30Logo="images\SmallLogo.png">
        <m2:DefaultTile ShortName="ms-resource:shortName" Wide310x150Logo="images\widelogo.png" Square70x70Logo="images\square70logo.png" Square310x310Logo="images\square310logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splashscreen.png" BackgroundColor="#00b2f0" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>